// Body
$body-bg: #F7F7F7;
$dark-grey: #1A1A25;
$red:   #E31235;
$white: #fff;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color


